@media only screen and (max-width:768px) {
    .section1{
        height: auto;
        width: 100%;
        background-image: url(./images/sec1\ background\ image.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    .nav{
        height: auto;
        width: auto;
        background-color: #4a1831;
        display: flex;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
        overflow: hidden;
    }
    .nav-list>ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 25px;
    color: #ffd7ad;
    font-weight: 400;
    font-family: "Montserrat";
     list-style-type: none;
     gap: 30px;
    }
     .sec1-content1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px;
        text-align: center;
        
    }
    

/* section2 media quary */

    .section2{
        height: auto;
        width: auto;
        background-color: #ffd7ad;
        display: flex;
        flex-direction: column;
        padding: 20px;
       
    }
    .sec2-content1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .sec2c2-img>img{
        padding-top: 10px;
        height: auto;
        width: 100%;
    }
   .sec2-maincontain2{
        display: flex;
        justify-content: space-around;
        gap: 50px;
        padding: 50px;
         flex-direction: column;
        
    }
    
    .sec2-m2img>img{
        height: auto;
        width: 100%;
    }
    .sec2-m2txtmain{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        
    }
    .sec2-m3txtmain{
    
        position: absolute;
        top: 2370px;
        left: 50px;
        text-align: start;
    }
    
    .sec2-m3tpara1{
        font-size: 127px;
    text-transform: uppercase;
    color: #e63956;
    font-weight: 900;
    font-family: "Roboto";
    }
    .sec2-m3tpara2{
        font-size: 44px;
    text-transform: uppercase;
    color: #55112e;
    font-weight: 900;
    font-family: "Roboto";
    }
    .sec2-m3tpara3{
        font-size: 74px;
        text-transform: uppercase;
        color: #6cc5ac;
        font-weight: 900;
        font-family: "Roboto";
    }
    .sec2-m3img{
        display: flex;
        justify-content: center;
        flex-direction: row;
       
    }
    .sec2-m3img{
        height: 600px;
        width: 100%;
        overflow:hidden;
      }

/* section3 */
.section3{
    height: auto;
    width: 100%;
    background-color: #4a1831;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    flex-direction: column;
    gap: 30px;
}
.sec3-content1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}
.sec3-c1img>img{
    height: auto;
    width: 100%;
}

/* section4 */
.section4{
    height: auto;
    width: 100%;
    background-image: url(./images/section6\ image.svg);
    text-align: center;
    align-items: center;
    
}
.sec4-bg{
  opacity: 0.800;
width: 100%;
height: auto;
background-color: rgba(74,24,49,0.8);
}
 /* section5 */

    .section5{
        height: auto;
        width: 100%;
        background-color: #ffd7ad;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        overflow: hidden;
    }
   
    .sec5-searchbar{
        width: 609px;
    height: 53px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    }
    .sec5-input>input{
        width: 409px;
    height: 53px;
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    }
    .sec5-btn>button{
        width: 202px;
    height: 55px;
    border-radius: 33px;
    background-color: #4a1831;
    border: none;
    }
/* section6 */
    .section6{
        height: auto;
        width: auto;
        background-color: #4a1831;
        display: flex;
        justify-content: space-around;
        gap: 40px;
        padding: 100px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .sec6-c1icon{
        display: flex;
        flex-direction: row;
         justify-content: center;
        gap: 10px;
    }
}   

/* mobile size media quary */
@media only screen and (max-width:600px){
    .section1{
        height: auto;
        width: 100%;
        background-image: url(./images/sec1\ background\ image.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    
    .nav{
        height: 100%;
        width: 100%;
        background-color: #4a1831;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-direction: column;
        overflow: hidden;
    }
    .nav-list>ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 25px;
    color: #ffd7ad;
    font-weight: 400;
    font-family: "Montserrat";
     list-style-type: none;
     gap: 30px;
    }
     .sec1-content1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px;
        justify-content: center;
        align-items: center;
    }
    .sec1-c1para1{
        font-size: 60px;
    color: #ffd7ad;
    font-weight: 700;
    font-family: "Roboto";
    overflow: hidden;
    }
    

/* section-2 */
.section2{
    height: auto;
    width: auto;
    background-color: #ffd7ad;
    display: flex;
    flex-direction: column;
    
    text-align: center;
}

.sec2-content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sec2c2-img>img{
    padding-top: 5px;
    height: auto;
    width: 100%;
}
.sec2-maincontain2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
   
}
.sec2-m2img>img{
    height: auto;
    width: 100%;
}
.sec2-m2txtmain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    
}

.sec2-m2tbtn>button{
    width: 322px;
height: 65px;
border-radius: 32px;
background-color: #4a1831;
border: none;

}
.sec2-m2tbtn>button>a{
    font-size: 25px;
text-transform: uppercase;
color: #ffd7ad;
font-weight: 700;
font-family: "Roboto";
text-align: center;
text-decoration: none;
}

.sec2-m3txtmain{
    
    position: absolute;
    top: 2350px;
    left: 10px;
    text-align: start;
    
}
.sec2-m3tpara1{
    font-size: 70px;
text-transform: uppercase;
color: #e63956;
font-weight: 900;
font-family: "Roboto";
}
.sec2-m3tpara2{
    font-size: 25px;
text-transform: uppercase;
color: #55112e;
font-weight: 900;
font-family: "Roboto";
}
.sec2-m3tpara3{
    font-size: 50px;
    text-transform: uppercase;
    color: #6cc5ac;
    font-weight: 900;
    font-family: "Roboto";
}

.sec2-m3img{
    display: flex;
    justify-content: center;

  height: 300px;
  width: auto;
  overflow:hidden;
}
/* .section3 */
.section3{
    height: auto;
    width: auto;
    background-color: #4a1831;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
}
.sec3-content1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sec3-c1img>img{
    height: auto;
    width: 100%;
}
/* section4 */
.section4{
    height: auto;
    width: 100%;
    background-image: url(./images/section6\ image.svg);
    text-align: center;
    align-items: center;
    
}
.sec4-bg{
  opacity: 0.800;
width: 100%;
height: auto;
background-color: rgba(74,24,49,0.8);
}
/* section5 */
.sec5-searchbar{
    width: 200px;
height: 43px;
background-color: #ffffff;
border-radius: 30px;
display: flex;
justify-content: center;
align-items: center;
}
.sec5-input>input{
    
    width: 150px;
height: 43px;
background-color: #ffffff;
border-radius: 30px;
border: none;
font-size: 15px;
}
.sec5-input::placeholder{
    font-size: 15px;
}
.sec5-btn>button{
    width: 120px;
height: 43px;
border-radius: 33px;
background-color: #4a1831;
border: none;
}
.sec5-btn>button>a{
    font-size: 15px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
text-decoration: none;
}
}