*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    height: 100vh;
    width: 100%;
    background-image: url(./images/sec1\ background\ image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-bottom: 150px; */
}
.nav{
    height: auto;
    width: auto;
    background-color: #4a1831;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.nav-list>ul{
    display: flex;
    font-size: 25px;
color: #ffd7ad;
font-weight: 400;
font-family: "Montserrat";
 list-style-type: none;
 gap: 70px;
}
.list1:hover{
    text-decoration: underline white;
}
.list2:hover{
    text-decoration: underline white;
}
.list3:hover{
    text-decoration: underline white;
}
.list4:hover{
    text-decoration: underline white;
}
.list5:hover{
    text-decoration: underline white;
}
.sec1-content1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.sec1-c1para1{
    font-size: 125px;
color: #ffd7ad;
font-weight: 700;
font-family: "Roboto";
/* text-align: center; */
}
.sec1-c1para2{
font-size: 30px;
color: #ffd7ad;
font-weight: 400;
font-family: "Roboto";
}
.sec1-c1btn>button{
    width: 322px;
height: 65px;
border-radius: 33px;
background-color: #ffd7ad;
border: none;
}
.sec1-c1btn>button>a{
    font-size: 25px;
text-transform: uppercase;
color: #4a1831;
font-weight: 700;
font-family: "Roboto";
text-align: center;
text-decoration: none;
}
.section2{
    height: auto;
    width: auto;
    background-color: #ffd7ad;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    /* text-align: center; */
}

.sec2-content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sec2-c1para1{

font-size: 64px;
color: #4a1831;
font-weight: 700;
font-family: "Roboto";
/* text-align: center; */

}
.sec2-c1para2{
    font-size: 25px;
color: #4a1831;
font-weight: 400;
font-family: "Roboto";
/* text-align: center; */
}
.sec2-c1btn>button{
    width: 322px;
height: 65px;
border-radius: 33px;
background-color: #4a1831;
border: none;
}
.sec2-c1btn>button>a{
    font-size: 25px;
text-transform: uppercase;
color: #ffd7ad;
font-weight: 700;
font-family: "Roboto";
text-align: center;
text-decoration: none;
}
.sec2c2-img>img{
    height: 400px;
    width: 100%;
}
.sec2-maincontain2{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px;
   
}
.sec2-m2txtmain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    gap: 20px;
}
.sec2-m2tpara1{
    font-size: 75px;
color: #4a1831;
font-weight: 700;
font-family: "Roboto";
}
.sec2-m2tpara2{

font-size: 30px;
color: #4a1831;
font-weight: 400;
font-family: "Roboto";
}
.sec2-m2tbtn>button{
    width: 322px;
height: 65px;
border-radius: 32px;
background-color: #4a1831;
border: none;
}
.sec2-m2tbtn>button>a{
    font-size: 25px;
text-transform: uppercase;
color: #ffd7ad;
font-weight: 700;
font-family: "Roboto";
text-align: center;
text-decoration: none;
}

.sec2-m3txtmain{
    
    position: absolute;
       
    left: 110px;
    text-align: start;
}

.sec2-m3tpara1{
    font-size: 167px;
text-transform: uppercase;
color: #e63956;
font-weight: 900;
font-family: "Roboto";
}
.sec2-m3tpara2{
    font-size: 64px;
text-transform: uppercase;
color: #55112e;
font-weight: 900;
font-family: "Roboto";
}
.sec2-m3tpara3{
    font-size: 104px;
    text-transform: uppercase;
    color: #6cc5ac;
    font-weight: 900;
    font-family: "Roboto";
}
.sec2-m3img{
    display: flex;
    justify-content: end;
    flex-direction: row;
   
}

.section3{
    height: auto;
    width: auto;
    background-color: #4a1831;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
}
.sec3-content1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sec3-c1para1{
    font-size: 75px;
color: #ffd7ad;
font-weight: 700;
font-family: "Roboto";
}
.sec3-c1para2{
    font-size: 30px;
    color: #ffd7ad;
    font-weight: 400;
    font-family: "Roboto";
}
.sec3-c1btn>button{
    width: 322px;
    height: 65px;
    border-radius: 32px;
    background-color: #ffd7ad;
    border: none;
}
.sec3-c1btn>button>a{
    font-size: 25px;
text-transform: uppercase;
color: #4a1831;
font-weight: 700;
font-family: "Roboto";
text-align: center;
text-decoration: none;
}

.section4{
    height: auto;
    width: auto;
    background-image: url(./images/section6\ image.svg);
    text-align: center;
    align-items: center;
    
}
.sec4-bg{
  opacity: 0.800;
width: 100%;
height: 796px;
background-color: rgba(74,24,49,0.8);
}
.sec4-para1{
    font-size: 42px;
color: #ffd7ad;
font-weight: 700;
font-family: "Roboto";
text-align: center;
}
.sec4-para2{
    font-size: 45px;
color: #ffd7ad;
font-weight: 700;
font-family: "Roboto";
text-align: center;
}
.sec4-maincon1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    padding: 20px;
}

.section5{
    height: auto;
    width: auto;
    background-color: #ffd7ad;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 100px;
}
.sec5-para1{
    font-size: 75px;
color: #4a1831;
font-weight: 700;
font-family: "Roboto";
text-align: center;
}
.sec5-para2{
    font-size: 30px;
color: #4a1831;
font-weight: 400;
font-family: "Roboto";
text-align: center;
}

.sec5-searchbar{
    width: 759px;
height: 63px;
background-color: #ffffff;
border-radius: 30px;
display: flex;


}
.sec5-input{
   margin-left: 20px;
}
.sec5-input>input{
    width: 559px;
height: 63px;
background-color: #ffffff;
border-radius: 30px;
border: none;
font-size: 20px;

}
.sec5-input>input:focus{
outline: none;
}
.sec5-btn>button{
    width: 222px;
height: 65px;
border-radius: 33px;
background-color: #4a1831;
border: none;
}
.sec5-btn>button>a{
    font-size: 25px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
text-decoration: none;
}

.section6{
    height: auto;
    width: auto;
    background-color: #4a1831;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 100px;
}
.content1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec6-c1main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec6-c1tite{
    font-size: 32px;
    color: #ffd7ad;
font-weight: 400;
font-family: "Montserrat";
}
.sec6-c1para{
    font-size: 24px;
    color: #ffd7ad;
font-weight: 400;
font-family: "Montserrat";
}
.sec6-c1icon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.content2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec6-c2tite{
    font-size: 32px;
    color: #ffd7ad;
font-weight: 400;
font-family: "Montserrat";
}
.sec6-c2list{
    font-size: 24px;
line-height: 42px;
color: #ffd7ad;
font-weight: 400;
font-family: "Montserrat";
}
.sec6-c2list>ul{
     list-style-type: none;
}
.content3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec6-c3tite{
    font-size: 32px;
    color: #ffd7ad;
font-weight: 400;
font-family: "Montserrat";
}
.sec6-c3list{
    font-size: 24px;
line-height: 42px;
color: #ffd7ad;
font-weight: 400;
font-family: "Montserrat";
}
.sec6-c3list>ul{
    list-style-type: none;
}
.content4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec6-c4tite{
    font-size: 32px;
    color: #ffd7ad;
font-weight: 400;
font-family: "Montserrat";
}
.sec6-c4list{
    font-size: 24px;
line-height: 42px;
color: #ffd7ad;
font-weight: 400;
font-family: "Montserrat";
}
.sec6-c4list>ul{
    list-style-type: none;
}


    